:root {
  --text: #0b0a0b;
  --text-h: #2b56f0;
  --bg: linear-gradient(#cbedff, #fff);
  --border: #e5e4e7;

  --input-bg: #eef0f2;
  --input-border: #e3e6ea;
  --button-bg: #3d5afe;
  --button-bg-hover: #2f47d1;

  --sans: "Montserrat", system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: "Montserrat", system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  font-family: var(--heading);
  font-weight: 600;
  color: var(--text-h);
  letter-spacing: -0.3px;
}

p {
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
  padding: 4em;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid var(--border);
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  box-sizing: border-box;
}

.form-container h1 {
  margin: 0 0 1em;
  text-align: left;
}

section {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6em;
}

label {
  margin-bottom: 0.1em;
  font-size: 1em;
  font-weight: 600;
  color: var(--text);
}

.form-container form select,
.form-container form input {
  height: 2.5em;
  padding: 0 1em;
  font: inherit;
  font-size: 0.8em;
  color: var(--text);
  background: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 0.5em;
  box-sizing: border-box;
  width: 30em;
}

.form-container form input:focus {
  outline: none;
  border-color: var(--text-h);
  background: #fff;
}

.form-container form button {
  height: 3.2em;
  margin-top: 2em;
  font: inherit;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: var(--button-bg);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.15s ease;
}

.form-button:hover {
  background: var(--button-bg-hover);
}

.form-container form button.secondary-button {
  margin-top: 0.5em;
  color: var(--button-bg);
  background: #fff;
  border: 1px solid var(--button-bg);
}

.form-container form button.secondary-button:hover {
  color: #fff;
  background: var(--button-bg);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  gap: 0.4em;
  cursor: pointer;
}

.form-container form a {
  color: var(--text-h);
  text-decoration: underline;
}

.code {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4em;
}
